/* styles.css */

/* Example font styles */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Example gradient background */
body {
  background: linear-gradient(to bottom, #ff8a00, #e52e71);
}

/* Example box shadow and border */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Example hover animation */
.button {
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff8a00;
}

/* Masking overlay */
.mask-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 108, 108, 0.702); /* Adjust opacity and color as needed */
  z-index: 1;
}

/* Adjust text styles */
.background-element h1 {
  color: #fff; /* Set a contrasting color */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); /* Add text shadow for better visibility */
}
/* styles.css */

/* styles.css */

/* Centering */
.background-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.content {
  z-index: 2;
  /* Add additional styles for content positioning and formatting */
}
